*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin
*.nfs*
*.o
*.out
*.swo
*.swp

archival/*
compilation-testing/*
cuda-debugger/*

# Symbolic links
Common
marchingCubes
marchingCubes--NVIDIA
NVIDIA-marching-cubes
